<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Start Styles-->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="MainStyle.css">
    <title>Spets</title>
</head>
<body>
    <header>
        <!--Acá colocar el carrusel de publicidades con boostrap-->
        s
    </header>

    <div class="container">
        <p>Menú</p>
        <nav>
            <a href="">Inicio</a>
            <a href="">Actividades</a>
            <a href="">Medidas de precaución</a>
            <a href="">Sección mascotas</a>
            <a href="">Iniciar sesión</a>
        </nav>
    </div>

    <section id="hero">
        <h1>Busca, aprende y ten una mejor calidad de vida con tu mascota junto a Spets</h1>
    </section>

    <section id="Pets">
        <!-- Colocar también una descripción detallada de cómo sería el perfil de las personas con sus mascotas, etc -->
        <h1 id="Line">Mascotas</h1>
        <div class="container">
            <img src="" alt="">
            <h3>Mascota1</h3>
        </div>
        <div class="container">
            <img src="" alt="">
            <h3>Mascota2</h3>
        </div>
        <div class="container">
            <img src="" alt="">
            <h3>Mascota3</h3>
        </div>
        <div class="container">
            <img src="" alt="">
            <h3>Mascota4</h3>
        </div>
    </section>

    <section id="EncountersAndActivities">
        <!-- Colocar acá imágenes sobre el foro -->
    </section>

    <section id="Professional_Help">
        <!-- Colocar acá cómo pueden ayudar a uno de manera profesional, tanto las notas de apoyo como las ubicaciones de l@s profesionales cercan@s -->
    </section>
    

</body>
</html>

