/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
} */

/* Sección de la barra de navegación */

#navbar {
  background-color: #f8b131;
}
/* 
.medio-circulo {
  width: 5em;
  height: 4em;
  background: #f131f8;
  color: black;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.medio-circulo h4 {
  text-align: center;
  margin-top: 0.8em;
} */

/* Sección del carrousel */

/* .carousel-inner img {
  width: 100%;
  max-height: 20em;
} */
